<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand mb-0 h1" href="">
      <img
        src="https://purepng.com/public/uploads/large/purepng.com-shopping-cartshoppingcarttrolleycarriagebuggysupermarkets-1421526532256urwhx.png"
        width="30"
        height="30"
        style="margin-right:5px"
        class="d-inline-block align-top"
        alt=""
      />
      FloorMart
    </a>
    <button
      class="navbar-toggler my-2"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse flex-column align-items-start ml-lg-2 ml-0"
      id="navbarCollapse"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="products">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="history">Purchase history</a>
        </li>
      </ul>
      <ul class="navbar-nav flex-row mb-md-1 mt-md-0 mb-3 mt-2">
        <li class="nav-item">
          <a class="nav-link py-0 pr-3" style="font-size:14px;" href="#"
            >Sign in</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link py-0 pr-3" style="font-size:14px;" href="#"
            >Register</a
          >
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          href=""
          data-toggle="modal"
          data-target="#shoppingCartModal"
        >
          Cart
          <span [className]="badge">{{ itemsInCart }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div
  class="modal fade"
  id="shoppingCartModal"
  role="dialog"
  aria-labelledby="shoppingCartModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shoppingCartModalTitle">
          Shopping cart
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <span *ngIf="itemsInCart == 0">
        <div class="modal-body">
          <div class="alert alert-warning" role="alert">
            Your shopping list is empty!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" [disabled]="true">
              Buy
            </button>
          </div>
        </div>
      </span>

      <span *ngIf="itemsInCart != 0">
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let product of products; let i = index">
                <td>{{ products[i].name }}</td>
                <td>${{ products[i].price }}</td>
                <td>{{ products[i].quantity }}</td>
                <td>
                  <button
                    class="btn btn-outline-danger btn-remove-product"
                    (click)="removeFromCart($event, i)"
                  >
                    <i class="material-icons">remove_circle</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <h4>Sum: ${{ itemsInCartPrice.toFixed(2) }}</h4>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-success"
              (click)="buyProducts($event)"
              [disabled]="false"
              data-dismiss="modal"
            >
              Buy
            </button>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
