<div class="main_container">
  <div *ngFor="let product of products; let i = index; let even = even; let last = last">

    <span *ngIf="even">
      <div class="row" style="margin-bottom:5px;">

        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{products[i].name}}</h5>
              <p class="card-text">Price: {{products[i].price}}</p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <span *ngIf="!last">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{products[i + 1].name}}</h5>
                <p class="card-text">Price: {{products[i + 1].price}}</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
              </div>
            </div>
          </span>
        </div>


      </div>
    </span>

  </div>
</div>