/* You can add global styles to this file, and also import other style files */
body {
    background-color: lightgray;
}

.main_container {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}